body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

input, select, button {
  padding: 10px;
  margin: 10px;
  background: #222;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #333;
}

.hidden {
  display: none;
}

header img {
  width: 150px;
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
}
